//////////////////Color////////////////////////


$primary-color-background: #4b9b87;
$primary-color-text: #ffd11a;

$color-title-chic1: #ff9900;
$color-title-chic2:#cc99ff;
$color-title-chic3:#884dff;

$color-title-delice1: #0039e6;
$color-title-delice2: #4d79ff;
$color-title-delice3:#66c2ff;

$color-title-palette1: #009900;
$color-title-palette3: #ccff99;

$primary-color-menu:rgb(255, 204, 204);


/////////////////////Font size////////////////////////

$menu__titles: 34px;
$dishes__titles: 19px;