//////////////////Color////////////////////////


$primary-color-background: #4b9b87;
$primary-color-text: #ffd11a;


$color-icone-note1: #ff3333;
$color-icone-note2:#ff8533;
$color-title-note:#330000;

$color-title-chic1: #e67300;
$color-title-chic2: #c266ff;
$color-title-chic3:#884dff;

$color-title-delice1: #0039e6;
$color-title-delice2: #4d79ff;
$color-title-delice3:#66c2ff;

$color-title-palette1: #008000;
$color-title-palette3: #ccff33;

$primary-color-menu:rgb(255, 204, 204);





/////////////////////Font size////////////////////////

$menu__titles: 34px;
$dishes__titles: 19px;