/////////*General Variables  for  "Index.html" */////////



/////////*General Variables  for  "All" */////////

$primary-color-background: #4b9b87;
$primary-color-text: #ffd11a;



/////////* Variables specify for the "entire-page" */////////


/////////* Variables specify for the "entire-page-menus" */////////

$primary-color-menu:rgb(255, 204, 204);